#!/bin/bash

set -euo pipefail

# ---- functions ----

install_pipx() {
    local app=$1
    if ! command -v "$app" &> /dev/null; then
        echo "📥 Installing $app..."
        pipx install "$app"
    fi
}

install_zsh_plugin() {
    local plugin=$1
    if [ ! -d "$HOME/.oh-my-zsh/custom/plugins/$plugin" ]; then
        echo "📥 Installing $plugin..."
        git clone https://github.com/zsh-users/$plugin $HOME/.oh-my-zsh/custom/plugins/$plugin
    fi
}

echo "🦹 This script requires administrator privileges. Enter your password."
sudo -v
echo "🦹 You are now logged as root ✅"

{{ if eq .chezmoi.os "darwin" }}

brews=(
    {{ range .packages.darwin.brews }}{{ . }}
    {{ end }})

casks=(
    {{ range .packages.darwin.casks }}{{ . }}
    {{ end }})

mas=(
    {{ range .packages.darwin.mas }}{{ . }}
    {{ end }})

echo "💻 Installing Xcode Command Line Tools..."
if ! xcode-select -p &>/dev/null; then
    xcode-select --install
fi
if test ! $(which brew) 
then
  echo "🍺 Installing Homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> /Users/$user/.zprofile
  eval "$(/opt/homebrew/bin/brew shellenv)"
  echo "🍺 Installing Homebrew ✅"
fi
echo "☁️ Updating homebrew..."
brew update
echo "🍺 Installing brew apps..."
brew install "${brews[@]}"
echo "🍺 Installing brew casks..."
brew install --cask "${casks[@]}"
echo "🧹 Cleaning up..."
brew cleanup -s
echo " Installing App Store apps..."
mas install "${mas[@]}"
echo "🐍 Installing pipx packages..."
{{ range .packages.darwin.pipx }}install_pipx {{ . }}
{{ end }}

{{ end }}

{{ if eq .chezmoi.os "linux" }}
    {{ if eq .chezmoi.osRelease.id "ubuntu" }}
    
apt_packages=(
    {{ range .packages.ubuntu.apt_packages }}{{ . }}
    {{ end }})

# Check for updates and perform them if available
sudo apt-get update
echo "📦 Installing apps from apt..."
sudo apt-get install -y "${apt_packages[@]}"

    {{ end }}
    {{ if eq .chezmoi.osRelease.id "fedora" }}
    
copr=(
    {{ range .packages.fedora.copr }}{{ . }}
    {{ end }})
dnf_packages=(
    {{ range .packages.fedora.dnf_packages }}{{ . }}
    {{ end }})

for repo in "${copr[@]}"; do
    repo_name="${repo//\//:}"
    if ! dnf repolist | grep -q "copr:copr.fedorainfracloud.org:$repo_name"; then
        echo "🌍 Enabling repository $repo"
        sudo dnf copr enable -y "$repo"
    fi
done

sudo dnf upgrade -y
echo "📦 Installing apps from dnf..."
sudo dnf install -y "${dnf_packages[@]}"

    {{ end }}
{{ end }}

# --- Oh My Zsh ---

echo "🛠️ Configuring Zsh..."
if [[ "$SHELL" != *zsh* ]]; then
    echo "🛠️ Setting Zsh as default shell..."
    chsh -s /usr/bin/zsh
fi
if [ ! -d "$HOME/.oh-my-zsh" ]; then
    echo "🛠️ Installing Oh My Zsh..."
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
fi
echo "🛠️ Installing zsh plugins..."
{{ range .zsh }}install_zsh_plugin {{ . }}
{{ end }}


echo "🎉 Installation complete!"

