# ---- path ----
PATH=$HOME/bin:$HOME/.local/bin:/usr/local/bin:$PATH
{{ if eq .chezmoi.os "darwin" }}
PATH=$HOME/perl5/bin:$PATH
PATH="/Applications/Stata/StataMP.app/Contents/MacOS/:$PATH"
{{ end }}
export PATH

# ---- environment variables ----
{{ if eq .chezmoi.os "darwin" }}
PERL5LIB="/Users/romain/perl5/lib/perl5${PERL5LIB:+:${PERL5LIB}}"; export PERL5LIB;
PERL_LOCAL_LIB_ROOT="/Users/romain/perl5${PERL_LOCAL_LIB_ROOT:+:${PERL_LOCAL_LIB_ROOT}}"; export PERL_LOCAL_LIB_ROOT;
PERL_MB_OPT="--install_base \"/Users/romain/perl5\""; export PERL_MB_OPT;
PERL_MM_OPT="INSTALL_BASE=/Users/romain/perl5"; export PERL_MM_OPT;
{{ end }}

# ---- oh-my-zsh ---
{{ if eq .chezmoi.os "linux" }}
plugins=(git zsh-autosuggestions zsh-syntax-highlighting)
{{ else if eq .chezmoi.os "darwin" }}
plugins=(git zsh-autosuggestions zsh-syntax-highlighting macos)
{{ end }}
export ZSH="$HOME/.oh-my-zsh"
export EDITOR="code --wait"
ZSH_THEME="robbyrussell"
zstyle ':omz:update' mode auto      # update automatically without asking
zstyle ':omz:update' frequency 13
source $ZSH/oh-my-zsh.sh

# ---- aliases ----
{{ if eq .chezmoi.os "linux" }}
alias bw "flatpak run --command=bw com.bitwarden.desktop"
{{ end }}

# ---- load relevant utils ----
# - starship
eval "$(starship init zsh)"

# ---- launch message ----
fastfetch
echo '\nHello, Master Romain! Your Terminal wishes you a lovely day ❤️  and throws in a word of wisdom 🧐'
echo '\n┌─────────────────────────────── Wisdom ───────────────────────────────────┐'
fortune
echo '└──────────────────────────────────────────────────────────────────────────┘\n'
