# ---- path ----
PATH=$HOME/bin:$HOME/.local/bin:/usr/local/bin:$PATH
export PATH

# ---- environment variables ----

# ---- oh-my-zsh ---
{{ if eq .chezmoi.os "linux" }}
plugins=(git zsh-autosuggestions zsh-syntax-highlighting)
{{ else if eq .chezmoi.os "darwin" }}
plugins=(git zsh-autosuggestions zsh-syntax-highlighting macos)
{{ end }}
export ZSH="$HOME/.oh-my-zsh"
export EDITOR="code --wait"
ZSH_THEME="robbyrussell"
zstyle ':omz:update' mode auto      # update automatically without asking
zstyle ':omz:update' frequency 13
source $ZSH/oh-my-zsh.sh

# ---- aliases ----
{{ if eq .chezmoi.os "linux" }}
alias bw="flatpak run --command=bw com.bitwarden.desktop"
{{ end }}
alias ls="eza --icons"

# ---- load relevant utils ----
# - starship
eval "$(starship init zsh)"

# ---- launch message ----
fastfetch
echo '\nHello, Master Romain! Your Terminal wishes you a lovely day ❤️  and throws in a word of wisdom 🧐'
echo '\n┌─────────────────────────────── Wisdom ───────────────────────────────────┐'
fortune
echo '└──────────────────────────────────────────────────────────────────────────┘\n'
