{{ if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
{{ end }}
[user]
	name = Romain Ferrali
	email = rferrali@gmail.com
[init]
	defaultBranch = main
[core]
	editor = code --wait
